/**
 * Based on Galaxy's theme-responsive.css media queries. Similar to Bootstrap, except:
 *   - We're using Sass
 *   - Their large is our x-large
 *   - We add a different large
 *
 * See: http://getbootstrap.com/css/#grid-media-queries
 */
/**
 X-large. Desktops.
 */
/**
 Large. Laptops.
 */
/**
 Medium. Tablets, small laptops.
 */
/**
 Small. Tablets.
 */
/**
 X-small. Phones.
 */
/**
 Extra x-small. Real phones.
 */
/**
 Extra extra x-small. iPhone 4s.
 */
/**
 * Devices
 */
/**
 * Mixin library
 */
/**
 * Inheritable top shadow for bright green bg
 */
.am-box-shadow-top-bright-green-bg {
  box-shadow: inset 0 10px 8px -8px #395318; }

.am-box-shadow-bottom-bright-green-bg {
  box-shadow: inset 0 -10px 8px -8px #395318; }

.am-diffuse-top-shadow-green-bg {
  box-shadow: inset 0px 20px 40px -15px #395318; }

.am-diffuse-top-shadow-clear-bg {
  box-shadow: inset 0px 45px 40px -40px #4e4e4e; }

/**
 * Inheritable shadows for white bg
 */
.am-box-shadow-top-white-bg {
  box-shadow: inset 0 10px 8px -8px #777777; }

.am-box-shadow-bottom-white-bg {
  box-shadow: inset 0 -10px 8px -8px #777777; }

.am-show-on-fund-load {
  display: none; }

table.am-fund-info * {
  text-align: center; }
table.am-fund-info th {
  color: #fff;
  text-transform: uppercase;
  font-size: 1.05em;
  background-color: #0B3D92;
  line-height: 1.25em; }
  table.am-fund-info th a {
    display: block;
    color: #fff; }
    table.am-fund-info th a:hover {
      color: #59ab02; }
table.am-fund-info th.am-link-like:hover .am-bubble-cell, table.am-fund-info th.am-link-like:hover a {
  color: #fff;
  background-color: #59ab02; }
table.am-fund-info tr.am-bubble-row th {
  background-color: transparent; }
  table.am-fund-info tr.am-bubble-row th .am-bubble-cell {
    background-color: #0B3D92; }
table.am-fund-info td img {
  max-height: 2em; }
table.am-fund-info td img.am-no-max-height, table.am-fund-info td img.am-download-icon {
  max-height: none; }
table.am-fund-info .am-smaller {
  font-size: 0.75em; }
table.am-fund-info th.am-blank {
  background-color: #fff; }
table.am-fund-info tr:not(.am-bubble-row) td.am-blank, table.am-fund-info tr.am-bubble-row .am-blank .am-bubble-cell {
  background-color: #E4E4E4; }
@media (max-width: 991px) {
  table.am-fund-info th {
    font-size: 1em; }
  table.am-fund-info th.am-2-line, table.am-fund-info th.am-smaller {
    font-size: 0.95em; }
  table.am-fund-info td .am-bubble-cell {
    font-size: 1em; }
    table.am-fund-info td .am-bubble-cell.am-huge, table.am-fund-info td .am-bubble-cell .am-huge {
      font-size: 1.35em;
      line-height: initial; }
      table.am-fund-info td .am-bubble-cell.am-huge .am-loading, table.am-fund-info td .am-bubble-cell .am-huge .am-loading {
        font-size: 0.75em; } }
@media (min-width: 992px) {
  table.am-fund-info th {
    font-size: 1.15em; }
  table.am-fund-info th.am-2-line, table.am-fund-info th.am-smaller {
    font-size: 1.05em; }
  table.am-fund-info td .am-bubble-cell {
    font-size: 1.15em; }
    table.am-fund-info td .am-bubble-cell.am-huge, table.am-fund-info td .am-bubble-cell .am-huge {
      font-size: 1.5em;
      line-height: initial; }
      table.am-fund-info td .am-bubble-cell.am-huge .am-loading, table.am-fund-info td .am-bubble-cell .am-huge .am-loading {
        font-size: 0.75em; } }

section.am-desktop .am-funds-overview table.am-fund-info {
  margin: 0 0 50px 0; }
  section.am-desktop .am-funds-overview table.am-fund-info tbody tr:first-child th:first-child {
    border-radius: 7px 0 0 0; }
  section.am-desktop .am-funds-overview table.am-fund-info tbody tr:last-child th:first-child {
    border-radius: 0 0 0 7px; }
  @media (min-width: 992px) and (max-width: 1199px) {
    section.am-desktop .am-funds-overview table.am-fund-info tr {
      font-size: .75em; } }
  @media (min-width: 1200px) {
    section.am-desktop .am-funds-overview table.am-fund-info tr {
      font-size: .85em; } }

section.am-mobile.am-fund-overview table + table, .fund-page .am-fund-overview table + table {
  margin-top: 0.85em; }
section.am-mobile.am-fund-overview table th.am-smaller, .fund-page .am-fund-overview table th.am-smaller {
  height: 4em; }

td.am-link:hover > .am-bubble-cell {
  background-color: #59ab02; }

.am-data, .am-data > span {
  white-space: nowrap; }

section.am-fund-overview td.am-symbol {
  text-transform: uppercase; }
section.am-fund-overview .am-fund-info {
  margin: 30px 0 30px; }

.am-screen-xs-sm-only section.am-total-returns .am-content {
  padding-bottom: 0; }

section.am-total-returns p, section.am-investing-in-funds p, section.am-fund-info-fact-sheet p {
  color: #7f7f7f;
  text-align: justify; }
  section.am-total-returns p strong, section.am-investing-in-funds p strong, section.am-fund-info-fact-sheet p strong {
    font-style: italic; }

section.am-total-returns table {
  margin-bottom: 15px; }
  section.am-total-returns table th:first-child {
    text-align: left;
    letter-spacing: .15em;
    padding-top: 1em;
    color: #fff; }
  section.am-total-returns table .am-annualized, section.am-total-returns table .am-total-returns-title, section.am-total-returns table .am-periods-ending {
    text-transform: uppercase;
    line-height: 1em;
    font-family: TrendSlabOne;
    font-weight: normal;
    font-style: normal; }
    section.am-total-returns table .am-annualized, section.am-total-returns table .am-annualized a, section.am-total-returns table .am-total-returns-title, section.am-total-returns table .am-total-returns-title a, section.am-total-returns table .am-periods-ending, section.am-total-returns table .am-periods-ending a {
      color: #0B3D92; }
  section.am-total-returns table .am-annualized {
    letter-spacing: .75em; }
  section.am-total-returns table .am-periods-ending {
    color: #7f7f7f;
    background: #E4E4E4;
    letter-spacing: .2em; }
  section.am-total-returns table tr.am-dynamic-content td > .am-bubble-cell > .am-data {
    line-height: 1em; }
  section.am-total-returns table tr.am-dynamic-content td:first-child > .am-bubble-cell {
    text-align: left; }
    section.am-total-returns table tr.am-dynamic-content td:first-child > .am-bubble-cell .am-data {
      display: inline-block;
      max-height: 1.25em; }

@media (max-width: 767px) {
  table {
    font-size: .9em; } }
@media (max-width: 320px) {
  table {
    font-size: .85em; } }
section.am-fund-info-fact-sheet table {
  margin-bottom: 15px; }
  section.am-fund-info-fact-sheet table * {
    text-align: left; }
  section.am-fund-info-fact-sheet table thead th {
    text-transform: uppercase;
    line-height: 1em;
    font-family: TrendSlabOne;
    font-weight: normal;
    font-style: normal; }
    section.am-fund-info-fact-sheet table thead th, section.am-fund-info-fact-sheet table thead th a {
      color: #fff; }
  section.am-fund-info-fact-sheet table.am-fund-info-details tbody tr.am-bubble-row td .am-bubble-cell {
    max-height: 2.75em; }
  section.am-fund-info-fact-sheet table.am-fact-sheet tbody td * {
    text-align: center; }
  section.am-fund-info-fact-sheet table.am-fact-sheet tbody td .am-bubble-cell {
    padding: 1.5em; }
    section.am-fund-info-fact-sheet table.am-fact-sheet tbody td .am-bubble-cell img.am-cover {
      height: 15em;
      width: auto;
      box-shadow: 0 0 40px 0 #606060; }
    @media (max-width: 991px) {
      section.am-fund-info-fact-sheet table.am-fact-sheet tbody td .am-bubble-cell img.am-cover {
        height: auto;
        width: 100%; } }

section.am-investing-in-funds {
  padding-bottom: 0; }

.am-screen-xs-sm-only .am-total-returns .am-bubble-cell .am-data {
  text-align: left; }

.am-screen-xs-sm-only .am-total-returns .am-bubble-cell .am-data br, .am-screen-xs-sm-only .am-total-returns .am-bubble-cell .am-data br:after {
  content: ' '; }

.am-mobile.am-total-returns tbody td .am-bubble-cell {
  min-width: 8em; }

/*# sourceMappingURL=ave_s.css.map */
