#
# SVG support
#
AddType image/svg+xml svg
AddType image/svg+xml svgz
AddEncoding x-gzip .svgz

#
# Page redirects
#
RewriteEngine on

#   Legacy pages
RewriteRule ^home\.htm$ / [L,R=301] #4c1a8fee38b4d
RewriteRule ^index\.htm$ / [L,R=301] #4c07d4b1c5c89
RewriteRule ^faithmatters.php$ /faith-matters [L,R=301]

# Friendly URLs
RewriteRule ^BOOK/?$ /lp/1909IRA-CDBOOK.html [L,R=301]
RewriteRule ^BOOK.html$ /lp/1909IRA-CDBOOK.html [L,R=301]
RewriteRule ^CD/?$ /lp/1909IRA-CD.html [L,R=301]
RewriteRule ^CD.html$ /lp/1909IRA-CD.html [L,R=301]
RewriteRule ^EWTN/?$ /lp/s2020-MRI-EWTN.html [L,R=301]
RewriteRule ^EWTN.html$ /lp/s2020-MRI-EWTN.html [L,R=301]
RewriteRule ^EWTNBOOK/?$ /lp/1909IRA-EWTNBOOK.html [L,R=301]
RewriteRule ^EWTNBOOK.html$ /lp/1909IRA-EWTNBOOK.html [L,R=301]

# s2020 campaign 
RewriteRule (?i)^FC/?$ /lp/s2020-03-MRI-FC.html [L,R=301]
RewriteRule (?i)^FC.html$ /lp/s2020-03-MRI-FC.html [L,R=301]
RewriteRule (?i)^CC/?$ /lp/s2020-03-MRI-ChiC.html [L,R=301]
RewriteRule (?i)^CC.html$ /lp/s2020-03-MRI-ChiC.html [L,R=301]
RewriteRule (?i)^NCR/?$ /lp/s2020-MRI-NCR.html [L,R=301]
RewriteRule (?i)^NCR.html$ /lp/s2020-MRI-NCR.html [L,R=301]
RewriteRule (?i)^NR/?$ /lp/s2020-MRI-NR.html [L,R=301]
RewriteRule (?i)^NR.html$ /lp/s2020-MRI-NR.html [L,R=301]
RewriteRule (?i)^OCC/?$ /lp/s2020-MRI-OCC.html [L,R=301]
RewriteRule (?i)^OCC.html$ /lp/s2020-MRI-OCC.html [L,R=301]
RewriteRule (?i)^NYC/?$ /lp/s2020-MRI-NYC.html [L,R=301]
RewriteRule (?i)^NYC.html$ /lp/s2020-MRI-NYC.html [L,R=301]
RewriteRule (?i)^EWTN/?$ /lp/s2020-MRI-EWTN.html [L,R=301]
RewriteRule (?i)^EWTN.html$ /lp/s2020-MRI-EWTN.html [L,R=301]

RewriteRule ^FCBOOK/?$ /lp/1909IRA-FCBOOK.html [L,R=301]
RewriteRule ^FCBOOK.html$ /lp/1909IRA-FCBOOK.html [L,R=301]
RewriteRule ^IRA/?$ /lp/1909IRA-CD.html [L,R=301]
RewriteRule ^IRA.html$ /lp/1909IRA-CD.html [L,R=301]
RewriteRule ^jsp/?$ /lp/1909jsp.html [L,R=301]
RewriteRule ^jsp.html$ /lp/1909jsp.html [L,R=301]

#   AM 1 -> AM 2
RewriteRule ^funds/?$ /fund-family [L,R=301]
RewriteRule ^accountAccess.php$ / [L,R=301]
RewriteRule ^contactUs.php$ /contact-us.html [L,R=301]
RewriteRule ^funds/ave(.{1})xSummary.php$ /fund-family/ave$1x.html [L,R=301]
RewriteRule ^financialAdvisors.php$ /financial-insight/financial-advisor-resources.html [L,R=301]
RewriteRule ^aboutUs.php$ /about-us/fund-family-profile.html [L,R=301]
RewriteRule ^applications.php$ /reports-forms/forms.html [L,R=301]
RewriteRule ^funds/moneyMarketSummary.php$ /fund-family/money-market.html [L,R=301]
#   NEW!
RewriteRule ^smartInvestingSeries.php$ /financial-insight/smart-investing.html [L,R=301]
RewriteRule ^marketCommentary.php$ /financial-insight/market-commentaries.html [L,R=301]
RewriteRule ^PR_([0-9]{4})([0-9]{2})([0-9]{2}).php$ /about-us/press-releases/$1-$2-$3.html [L,R=301]
RewriteRule ^faithmatters/?$ /faith-matters [L,R=301]

#
# HTTP -> HTTPS
#
RewriteCond %{HTTPS} off
RewriteCond %{HTTP_HOST} !^avemaria-2.merong.local$
RewriteCond %{HTTP_HOST} !^localhost$
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

#
# 2020 AR files
#
Redirect  "/reports" "/reports-forms/reports.html"
Redirect  "/report" "/reports-forms/reports.html"

#
# Ultimus link update 2021 10 04
#
Redirect  "https://avemariafunds.com/access/shareholder.html" "https://uportal.ultimusfundsolutions.com/app/avemariafunds/#login"
Redirect  "https://avemariafunds.com/access/advisor.html" "https://uportal.ultimusfundsolutions.com/app/avemariafunds/#login"
